h1 {
	font-family: Arial,Helvetica,sans-serif;
	 border-bottom: 5px solid red;
	font-size: 4rem;
	font-weight: bold;
	color: red
}

p b {
	 font-size: 3rem;
	 font-weight: bold;
	 color: red
}

p {
	font-size: 2rem;
	 border-bottom: 5px solid red;
	 font-style: italic;
	color: red
}

h2 {
	color: red;
	font-size: 3rem;
	font-style: italic;
}

a {
	font-size: 2rem;
	font-style: underline;
}

h4 {
	 font-style: italic;
	 font-size: 1 rem;
}
